---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import ProblemSolution from '../components/ProblemSolution.astro';
import Features from '../components/Features.astro';
import Showcase from '../components/Showcase.astro';
import FinalCTA from '../components/FinalCTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Header />
	<main>
		<Hero />
		<ProblemSolution />
		<Features />
		<Showcase />
		<FinalCTA />
	</main>
	<Footer />
</Layout>
